In [ ]:
#HOLA ME LLAMO DANIEL

Ejercicio 1 (2 puntos):

a) Crea una función que calcule y devuelva el factorial de un número entero. (0.6 puntos)

In [1]:
def factorial(n):
    
    if n < 0:
        return "número negativo"
    
    elif n == 1 or n == 0: #ejemplo mas sencillo
        return 1
    
    else:
        result=1
        for i in range(2,n+1):
            result*=i
        return result
numero=5

In [2]:
factorial(numero)

120

b) Crea una función que verifique si un número es primo o no. (0.6 puntos)

In [7]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

In [8]:
numero = 25
if is_prime(numero):
    print("es un número primo")
else:
    print("no es un número primo")

no es un número primo

c) Muestra en un dataframe los 50 primeros números positivos, si es primo y su factorial utilizando las funciones anteriores. (0.6 puntos)

In [9]:
import pandas as pd

data = []
for num in range(1, 51):
    prime = is_prime(num)
    fact = factorial(num)
    data.append([num, prime, fact])

df = pd.DataFrame(data, columns=['Number', 'Is Prime', 'Factorial'])
print(df)

    Number  Is Prime                                          Factorial
0        1     False                                                  1
1        2      True                                                  2
2        3      True                                                  6
3        4     False                                                 24
4        5      True                                                120
5        6     False                                                720
6        7      True                                               5040
7        8     False                                              40320
8        9     False                                             362880
9       10     False                                            3628800
10      11      True                                           39916800
11      12     False                                          479001600
12      13      True                                         6227020800
13      14     False                                        87178291200
14      15     False                                      1307674368000
15      16     False                                     20922789888000
16      17      True                                    355687428096000
17      18     False                                   6402373705728000
18      19      True                                 121645100408832000
19      20     False                                2432902008176640000
20      21     False                               51090942171709440000
21      22     False                             1124000727777607680000
22      23      True                            25852016738884976640000
23      24     False                           620448401733239439360000
24      25     False                         15511210043330985984000000
25      26     False                        403291461126605635584000000
26      27     False                      10888869450418352160768000000
27      28     False                     304888344611713860501504000000
28      29      True                    8841761993739701954543616000000
29      30     False                  265252859812191058636308480000000
30      31      True                 8222838654177922817725562880000000
31      32     False               263130836933693530167218012160000000
32      33     False              8683317618811886495518194401280000000
33      34     False            295232799039604140847618609643520000000
34      35     False          10333147966386144929666651337523200000000
35      36     False         371993326789901217467999448150835200000000
36      37      True       13763753091226345046315979581580902400000000
37      38     False      523022617466601111760007224100074291200000000
38      39     False    20397882081197443358640281739902897356800000000
39      40     False   815915283247897734345611269596115894272000000000
40      41      True  3345252661316380710817006205344075166515200000...
41      42     False  1405006117752879898543142606244511569936384000...
42      43      True  6041526306337383563735513206851399750726451200...
43      44     False  2658271574788448768043625811014615890319638528...
44      45     False  1196222208654801945619631614956577150643837337...
45      46     False  5502622159812088949850305428800254892961651752...
46      47      True  2586232415111681806429643551536119799691976323...
47      48     False  1241391559253607267086228904737337503852148635...
48      49     False  6082818640342675608722521633212953768875528313...
49      50     False  3041409320171337804361260816606476884437764156...

d) ¿Cómo se podría programar en una clase las tres operaciones anteriores? (0.2 puntos)

In [ ]:
#Can you program in one class the three operations of before
#(factorial, is_prime, and the dataframe creation) 

class Operaciones:
    
    def factorial(self, n):
    
        if n < 0:
            return "número negativo"
    
        elif n == 1 or n == 0: #ejemplo mas sencillo
            return 1
    
        else:
            result=1
            for i in range(2,n+1):
                result*=i
            return result
    
    def is_prime(self, n):
        if n <= 1:
            return False
        for i in range(2, int(n**0.5) + 1):
            if n % i == 0:
                return False
        return True
    
    def dataframe(self):
        data = []
        for num in range(1, 51):
            prime = self.is_prime(num)
            fact = self.factorial(num)
            data.append([num, prime, fact])
        df = pd.DataFrame(data, columns=['Number', 'Is Prime', 'Factorial'])
        return df

Ejercicio 2 (4 puntos):

a) Extrae de sklearn el conjunto de datos California Housing dataset y transfórmalo a dataframe de pandas (0.25 puntos)

In [10]:
#Extract from sklearn the "california housing dataset and transform it into a pandas dataframe

from sklearn.datasets import fetch_california_housing
import pandas as pd
california = fetch_california_housing()
california_df = pd.DataFrame(california.data, columns=california.feature_names)
california_df['Target'] = pd.Series(california.target)
print(california_df)

       MedInc  HouseAge  AveRooms  AveBedrms  Population  AveOccup  Latitude  \
0      8.3252      41.0  6.984127   1.023810       322.0  2.555556     37.88
1      8.3014      21.0  6.238137   0.971880      2401.0  2.109842     37.86
2      7.2574      52.0  8.288136   1.073446       496.0  2.802260     37.85
3      5.6431      52.0  5.817352   1.073059       558.0  2.547945     37.85
4      3.8462      52.0  6.281853   1.081081       565.0  2.181467     37.85
...       ...       ...       ...        ...         ...       ...       ...
20635  1.5603      25.0  5.045455   1.133333       845.0  2.560606     39.48
20636  2.5568      18.0  6.114035   1.315789       356.0  3.122807     39.49
20637  1.7000      17.0  5.205543   1.120092      1007.0  2.325635     39.43
20638  1.8672      18.0  5.329513   1.171920       741.0  2.123209     39.43
20639  2.3886      16.0  5.254717   1.162264      1387.0  2.616981     39.37

       Longitude  Target
0        -122.23   4.526
1        -122.22   3.585
2        -122.24   3.521
3        -122.25   3.413
4        -122.25   3.422
...          ...     ...
20635    -121.09   0.781
20636    -121.21   0.771
20637    -121.22   0.923
20638    -121.32   0.847
20639    -121.24   0.894

[20640 rows x 9 columns]

b) Construye una función que muestra la estructura del dataset, el número de NAs, tipos de variables y estadísticas básicas de cada una de las variables. (0.5 puntos)

In [11]:
def dataset_summary(df):
    # Show dataset structure
    print("Dataset Structure:")
    print(df.info())
    print()
    
    # Show number of NA's
    print("Number of NA's:")
    print(df.isna().sum())
    print()
    
    # Show type of variables
    print("Type of Variables:")
    print(df.dtypes)
    print()
    
    # Show basic statistics of each variable
    print("Basic Statistics:")
    print(df.describe())

In [12]:
#make an example of the usage of this function with the california housing dataset

dataset_summary(california_df)

Dataset Structure:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   MedInc      20640 non-null  float64
 1   HouseAge    20640 non-null  float64
 2   AveRooms    20640 non-null  float64
 3   AveBedrms   20640 non-null  float64
 4   Population  20640 non-null  float64
 5   AveOccup    20640 non-null  float64
 6   Latitude    20640 non-null  float64
 7   Longitude   20640 non-null  float64
 8   Target      20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB
None

Number of NA's:
MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
Target        0
dtype: int64

Type of Variables:
MedInc        float64
HouseAge      float64
AveRooms      float64
AveBedrms     float64
Population    float64
AveOccup      float64
Latitude      float64
Longitude     float64
Target        float64
dtype: object

Basic Statistics:
             MedInc      HouseAge      AveRooms     AveBedrms    Population  \
count  20640.000000  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.870671     28.639486      5.429000      1.096675   1425.476744
std        1.899822     12.585558      2.474173      0.473911   1132.462122
min        0.499900      1.000000      0.846154      0.333333      3.000000
25%        2.563400     18.000000      4.440716      1.006079    787.000000
50%        3.534800     29.000000      5.229129      1.048780   1166.000000
75%        4.743250     37.000000      6.052381      1.099526   1725.000000
max       15.000100     52.000000    141.909091     34.066667  35682.000000

           AveOccup      Latitude     Longitude        Target
count  20640.000000  20640.000000  20640.000000  20640.000000
mean       3.070655     35.631861   -119.569704      2.068558
std       10.386050      2.135952      2.003532      1.153956
min        0.692308     32.540000   -124.350000      0.149990
25%        2.429741     33.930000   -121.800000      1.196000
50%        2.818116     34.260000   -118.490000      1.797000
75%        3.282261     37.710000   -118.010000      2.647250
max     1243.333333     41.950000   -114.310000      5.000010